#################################
# Python
#################################
__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
.env/

#################################
# Airflow
#################################
airflow-webserver.pid
airflow.cfg
airflow.db
logs/
*.pid


#################################
# Docker / OS junk
#################################
*.log
*.tmp

.DS_Store
Thumbs.db
